/* 
    Document   : storeroomCMS
    Created on : Apr 21, 2013, 1:01:29 PM
    Author     : tech
    Description:
        Purpose of the stylesheet follows.
*/

#imgListContainer { 
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0;
}
#itemUlList ul {
    width: 100%;
    list-style-type: none;
}

#itemUlList li h3 {
    font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
}

#itemUlList li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#itemUlList li img {
    float: left;
    margin: 0 15px 0 0;
    width: 100px;
    height: 100px;
}

#itemUlList li {
    padding: 10px;
    overflow: auto;
}

#itemUlList li:hover {
    background: #CCCCCC;
    cursor: pointer;
}
